/**************************************************/
// RESETS

body{
  color: @white;
  font-family: 'Proxima Nova';
  font-size: @fontsize-2;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &:after{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    pointer-events: none;
  }
}

*{
  .box-sizing;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
}
h5{
  font-size: 1rem;
}
h6{
  letter-spacing: .1em;
  font-size: .6rem;
  text-transform: uppercase;
}

button{
  background: #494075;
  color: #fff;
  padding: 28px 12px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  outline: none;
  border: none;
  font-family: inherit;
  letter-spacing: .09rem;
  font-size: 1rem;
}
.app{
  margin: auto;
  position: fixed;
  background-color: @purple-1;
  .centerXY;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 1px solid @gray-6;
}

.screen-1{
  padding: 5rem 3rem;
  background: @purple-1;
  position: fixed;
  left: 0;
  top: 0;
}

.screen-2{
  padding: 5rem 3rem;
  background: @green-1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  button{
    width: 49.8%;
    background: #209671;
    float: left;
    &:last-of-type{
      left: 50%;
    }
  }
}

.pool-goal-number{
  font-size: @fontsize-1;
  margin-bottom: 1.5rem;
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.meter { 
  height: 4px;  /* Can be anything */
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  background: rgba(255,255,255,.2);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0px;
  margin-bottom: 4px;
  margin-top: 3rem;
}

.meter > span {
  display: block;
  height: 100%;
  width: 32%;
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.meter-text{
  position: relative;
  left: 23%;
}
.avatars{
  margin-top: 9rem;
  text-align: center;
  width: 100%;
}
.btn-a{
  background: @green-2;
  color: @white;
  padding: 8px 12px;
  outline: none;
  border: none;
  .rounded(3px);
  font-family: inherit;
  letter-spacing: .09rem;
  font-size: 2rem;
  width: 40%;
    height: 4rem;
  position: relative;
  display: inline-block;
}

.btn-b{
  background: @green-2;
  color: @white;
  padding: 8px 12px;
  outline: none;
  border: none;
  .rounded(3px);
  font-family: inherit;
  letter-spacing: .09rem;
  font-size: 2rem;
  width: 40%;
  height: 4rem;
  position: absolute;
  display: inline-block;
}

.share-link{
  position: relative;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
.share-link-text{
  padding: 1rem 0 0 0;
  opacity: .5;
}

.link{
  opacity: 1;
  margin-top: 1rem;
}

.screen-title{
  font-size: @fontsize-1;
  margin-bottom: 1.5rem;
}

[contenteditable="true"] {
  font-size: @fontsize-2;
  line-height: 2.5rem;
  border-width:1px; 
  border-bottom: solid 1px #fff;
  color: rgba(255,255,255,.5);
  span{
    font-size: @fontsize-1;
    color: #fff;
  }
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  outline:none;
  color: #fff;
  content: '';

}

// [contenteditable="true"]:focus > style{
// display:block;
// font-size: .75em;
// color: blue;
// font-family: courier, sans-serif;
// background: #fff;
// line-height: 1.5;
// position:relative;
// right: -36em;
// top:-2em;
// }

[contenteditable="true"]:focus::before{
  color: #fff;
} 

.event-title{
  width: 100%;
  margin-bottom: 1.5rem;
}

.seed-amount{
  width: 45%;
  float: left;
  margin-right: 10%;
}
.goal-amount{
  width: 45%;
    float: left;
}

.header {
  svg{
    fill: #fff;
    width: 80px;
  }
  position: fixed;
  left: 53px;
  top: 30px;
}

.social-icon{
  position: relative;
  display: inline-block;
  top: 18px;
  left: 0px;
  width: 20px;
  height: 20px;
  fill: #fff;
  .transition(.2s,ease-out);
  padding: 0px 5px;
  z-index: 5;
  opacity: 1;
  text-align: center;
  margin-bottom: 20px;
  &:nth-of-type(1){
    width: 28px;
    height: 30px;
    left: -4px;
    margin-bottom: 5px;
  }
  &:nth-of-type(2){
    width: 20px;
    height: 30px;
    margin-bottom: 6px;
    margin-right: 9px;
  }
  &:nth-of-type(3){
    width: 30px;
    height: 30px;
    margin-bottom: 6px;
    margin-right: 2px;
    left: -5px;
  }
}


